
# These files are typically stored in <USER_HOME_DIR>/.jenkins/
.bash_history
.gitconfig
.java/
.viminfo
cache/
config-history/
jobs/
logs/
monitoring/
nodes/
plugins/*/
plugins/*.bak
plugins/*.tmp
plugins-old/
scriptler/
secrets/
support/
updates/
userContent/
users/
war/
workflow-libs/
.owner
*.xml
*.enc
*.lastExecVersion
*.state
*.bak
*.key
*.not-so-secret
*.log
*.txt
.lastStarted
